/* ======================= about us zig-zack sections ===================================*/
body {
  padding: 0px;
  margin: 0px;
}
#container_about_us {
  margin-top: 20px;
}
#about_para_box {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: row-reverse;
}

#about_para_box2 {
  display: flex;

  justify-content: center;
  align-items: center;
}

#contact_us_form {
  background-color: teal;
}

#contact_us_form {
  
  color: white;
  display: block;
  margin: auto;
  margin-top: 30px;
}
#conact_us_heading {
  text-align: center;
}

#form_submit_btn{
  display: block;
  margin: auto;
}

/* ================================= Footer CSS =================================*/

